.header-home {
   background: #FFFAF0;; 
   width: 10%;
   margin: auto;
   padding: 20px;
}

body {
    background: #FFFAF0;
}

.titles-home { 
    width: 60%;
    margin: auto;
    padding: 20px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    -webkit-text-stroke: 1.11px black; /* stroke width and color */
    color: rgba(255, 255, 255, 0);
    -webkit-font-smoothing: antialiased;
}

.moonrise-h1-home {
    padding: 40px
}

.moonrise-h1-home:hover {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    -webkit-text-stroke: #EDFF18;
    
}
.budapest-h1-home {
    padding: 40px;
}

.budapest-h1-home:hover {
    color: #FFBDD8;
    font-family: henderson-slab-basic, serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: #FFBDD8;
    font-size: 24pt;
}

.isle-h1-home {
    padding: 40px;
}

.isle-h1-home:hover {
    color: #E80000;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: #E80000;
    text-transform: capitalize;
    font-size: 24pt;
}

.dispatch-h1-home {
    padding: 40px;
}

.dispatch-h1-home:hover {
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: #00DFFE;
}






.moonrise-header {
    background-image: url(wes-header-images/moonrise-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    flex: 1;
    border-bottom: 1px #EDFF18;
}

.wes-logo {
    width: 2%;
}

nav ul {
    flex: 3;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    border-bottom: 1px #EDFF18;
    justify-content: flex-end;
}

nav a {
    color: #EDFF18;
    padding: 15px;
    border-left: 1px #EDFF18;
    -webkit-text-stroke: 0px; /* stroke width and color */
    -webkit-font-smoothing: antialiased;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 9pt;
    letter-spacing: 1pt;
    text-align: center;
    text-transform: uppercase;
}

/*.moonrise-nav {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
}*/

.moonrise-h1 {
    width: 60%;
    margin: auto;
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80pt;
    text-align: center;
    padding: 200px 0px 25px 0px;
}

.moonrise-h2 {
    width: 60%;
    margin: auto;
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: center;
}

