* {box-sizing: border-box;}

html, body {
    height: 100vh;
    width: 100vw;
}

.header-home {
    width: 10vw;
    margin: auto;
    height: 20vh;
}

.logo-home {
    display: block;
    width: 10vw;
    margin:auto;
    padding-top: 5vh;

}

body {
    background: #FFFAF0;
    align-items: center;
}

.titles-home { 
    width: 100vw;
    height: 55vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
}

a {
    text-decoration: none;
    -webkit-text-stroke: 1.11px black;
    color: #FFFAF0;
    -webkit-font-smoothing: antialiased;
}

.moonrise-h1-home {
    color: #FFFAF0;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vh;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #343434;
}

.moonrise-h1-home:hover {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    -webkit-text-stroke: #EDFF18;  
}

.moonrise-bg {
    background: #88b0c1;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }

.budapest-h1-home {
    font-family: henderson-slab-basic, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #343434;
}

.budapest-h1-home:hover {
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: #FF9CCC;
}

.budapest-bg {
    background: #6a446c;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }

.isle-h1-home {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 7vh;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #343434;
}

.isle-h1-home:hover {
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: #D44222;
    text-transform: capitalize;
}

.isle-bg {
    background: #343434;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }

.dispatch-h1-home {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7vh;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #343434;
}

.dispatch-h1-home:hover {
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke: #00DFFE;
}

.dispatch-bg {
    background: #9d9f6a;
    transition: 1s;
    transition-timing-function: ease-in-out;
  }









nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    flex: 1;
    border-bottom: 1px solid #EDFF18;
}

.wes-logo {
    width: 6vw;
    padding-top: 10px;
}

.moonrise-nav ul {
    flex: 3;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #EDFF18;
    justify-content: flex-end;
}

.moonrise-nav a {
    color: #EDFF18;
    padding: 15px;
    border-left: 1px solid #EDFF18;
    -webkit-text-stroke: 0px; 
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.moonrise-nav a:hover {
    color: #343434;
    background: #EDFF18;
    padding: 15px;
    border-left: 1px solid #EDFF18;
    -webkit-text-stroke: 0px; 
    -webkit-font-smoothing: antialiased;
    text-align: center;
    transition: 400ms;
}

.moonrise-nav-yellow {
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-transform: capitalize;
}

.budapest-nav-yellow {
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.isle-nav-yellow {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 10pt;
    text-transform: capitalize;
}

.dispatch-nav-yellow {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}






.moonrise {
    background: #88B0C1;
}

.moonrise-header {
    background-image: url(wes-header-images/moonrise-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.head-type {
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    border: 2pt solid #343434;
    height: 100vh;
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moonrise-h1 {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    text-align: center;
}

.moonrise-h2 {
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 1.75vw;
    letter-spacing: 2.5pt;
    text-align: center;
    padding-top: 3vh;
}

.moonrise-h3-about {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    text-align: left;
    padding-bottom: 2vh;
}

.moonrise-h4 {
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 1.75vw;
    letter-spacing: 3.1pt;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5vh;
}

p {
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 18pt;
    letter-spacing: .25pt;
    line-height: 20pt;
    text-align: left;
}

.info {
    border: 2pt solid #343434;
    height: 100vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    text-align: center;
}

.moonrise-h5 {
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 2pt;
    text-transform: uppercase;
    padding-bottom: 2vh;
    border-bottom: 2px solid #EDFF18;
}

.moonrise-h6 {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    padding-top: 5vh;
}


.cast {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2pt solid #343434;
}

.moonrise-h3-cast {
    width: 60vw;
    margin: auto;
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
    border: 2pt solid #343434;
}

.cast-image {
    border-radius: 50%;
    width: 15vw;
    
}

.cast-profiles {
    width: 80vw;
    margin: auto;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    text-align: center;
    border: 2pt solid #343434;
}

.moonrise-h5-cast {
    color: #EDFF18;
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.moonrise-h6-cast {
    color: #EDFF18;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 2pt;
    text-transform: uppercase;
}

.trailer {
    border: 2pt solid #343434;
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 20vh;
    text-align: center;
}







.budapest {
    background: #6A446C;
}

.wes-logo-pink{
    width: 6vw;
    padding-top: 10px;
}

.budapest-nav-bar div {
    border-bottom: 1px solid #FF9CCC;
}

.budapest-nav-bar ul {
    flex: 3;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #FF9CCC;
    justify-content: flex-end;
}

.budapest-nav-bar a {
    color: #FF9CCC;
    padding: 15px;
    border-left: 1px solid #FF9CCC;
    -webkit-text-stroke: 0px; 
    -webkit-font-smoothing: antialiased;
    text-align: center;   
}

.budapest-nav-bar a:hover {
    color: #343434;
    background: #FF9CCC;
    padding: 15px;
    border-left: 1px solid #FF9CCC;
    -webkit-text-stroke: 0px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    transition: 400ms;
}

.moonrise-nav-pink {
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-transform: capitalize;
}

.budapest-nav-pink {
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.isle-nav-pink {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 10pt;
    text-transform: capitalize;
}

.dispatch-nav-pink {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.budapest-header {
    background-image: url(wes-header-images/budapest-header.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.budapest-header-text {
    padding-top: 250px;
}

.budapest-h1 {
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48pt;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.budapest-h2 {
    width: 60%;
    margin: auto;
    color: #FF9CCC;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: center;
}

.budapest-about{
    text-align: left;
    margin: auto;
    width: 900px;
    padding: 100px;
}

.budapest-h3-about {
    width: 700px;
    margin: auto;
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36pt;
    text-transform: uppercase;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 10px;
}

.budapest-h3 {
    width: 700px;
    margin: auto;
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36pt;
    text-transform: uppercase;
    text-align: center; 
    padding-bottom: 80px;
}

.budapest-h4 {
    width: 700px;
    margin: auto;
    color: #FF9CCC;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 25px;
}

.budapest-about p {
    width: 700px;
    margin: auto;
    color: #FF9CCC;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 18pt;
    letter-spacing: .25pt;
    line-height: 20pt;
    text-align: left;
    padding-bottom: 100px;
    padding-top: 15px;
}

.budapest-info {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 200px;
}

.budapest-h5 {
    color: #FF9CCC;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    letter-spacing: 2pt;
    text-transform: uppercase;
    padding: 20px;
}

.budapest-h6 {
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

.budapest-h3-trailer {
    width: 900px;
    margin: auto;
    color: #FF9CCC;
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36pt;
    text-transform: uppercase;
    text-align: left; 
    padding-bottom: 40px;
}






.isle {
    background: #343434;
}

.wes-logo-red{
    border-bottom: 1px solid #D44222;
}

.isle-nav-bar ul {
    flex: 3;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #D44222;
    justify-content: flex-end;
}

.isle-nav-bar a {
    color: #D44222;
    padding: 15px;
    border-left: 1px solid #D44222;
    -webkit-text-stroke: 0px; 
    -webkit-font-smoothing: antialiased;
    text-align: center;   
}

.isle-nav-bar a:hover {
    color: #FFFAF0;
    background: #D44222;
    padding: 15px;
    border-left: 1px solid #D44222;
    -webkit-text-stroke: 0px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.moonrise-nav-red {
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-transform: capitalize;
}

.budapest-nav-red {
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.isle-nav-red {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 10pt;
    text-transform: capitalize;
}

.dispatch-nav-red {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.isle-header {
    background-image: url(wes-header-images/isle-header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.isle-header-text {
    padding-top: 250px;
}

.isle-h1 {
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 60pt;
    text-align: center;
    padding-bottom: 30px;
}

.isle-h2 {
    width: 60%;
    margin: auto;
    color: #D44222;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: center;
}

.isle-about{
    text-align: left;
    margin: auto;
    width: 900px;
    padding: 100px;
}

.isle-h3-about {
    margin: auto;
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36pt;
    text-align: left;
    padding-top: 80px;
    padding-bottom: 10px;
}

.isle-h3 {
    margin: auto;
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36pt;
    text-align: center; 
    padding-bottom: 80px;
}

.isle-h4 {
    width: 700px;
    margin: auto;
    color: #D44222;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 25px;
}

.isle-about p {
    width: 700px;
    margin: auto;
    color: #D44222;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 18pt;
    letter-spacing: .25pt;
    line-height: 21pt;
    text-align: left;
    padding-bottom: 100px;
    padding-top: 15px;
}

.isle-info {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 200px;
}

.isle-h5 {
    color: #D44222;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    letter-spacing: 2pt;
    text-transform: uppercase;
    padding: 20px;
}

.isle-h6 {
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 16pt;
}

.isle-h3-trailer {
    width: 900px;
    margin: auto;
    color: #D44222;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36pt;
    text-align: left; 
    padding-bottom: 80px;
}






.dispatch {
    background: #9D9F6A;
}
.wes-logo-aqua{
    border-bottom: 1px solid #00DFFE;
}

.dispatch-nav-bar ul {
    flex: 3;
    margin: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #00DFFE;
    justify-content: flex-end;
}

.dispatch-nav-bar a {
    color: #00DFFE;
    padding: 15px;
    border-left: 1px solid #00DFFE;
    -webkit-text-stroke: 0px; 
    -webkit-font-smoothing: antialiased;
    text-align: center;   
}

.dispatch-nav-bar a:hover {
    color: #343434;
    background: #00DFFE;
    padding: 15px;
    border-left: 1px solid #00DFFE;
    -webkit-text-stroke: 0px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.moonrise-nav-aqua {
    font-family: fenway-park-jf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-transform: capitalize;
}

.budapest-nav-aqua {
    font-family: henderson-slab-basic, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.isle-nav-aqua {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 10pt;
    text-transform: capitalize;
}

.dispatch-nav-aqua {
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    text-transform: uppercase;
}

.dispatch-header {
    background-image: url(wes-header-images/dispatch-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.dispatch-header-text {
    padding-top: 220px;
}

.dispatch-h1 {
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60pt;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

.dispatch-h2 {
    width: 60%;
    margin: auto;
    color: #00DFFE;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: center;
}

.dispatch-about{
    text-align: left;
    margin: auto;
    width: 900px;
    padding: 100px;
}

.dispatch-h3-about {
    width: 700px;
    margin: auto;
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt;
    text-align: left;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 10px;
}

.dispatch-h3 {
    width: 700px;
    margin: auto;
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt;
    text-align: center; 
    text-transform: uppercase;
    padding-bottom: 80px;
}

.dispatch-h4 {
    width: 700px;
    margin: auto;
    color: #00DFFE;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: 2.5pt;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 25px;
}

.dispatch-about p {
    width: 700px;
    margin: auto;
    color: #00DFFE;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 18pt;
    letter-spacing: .25pt;
    line-height: 21pt;
    text-align: left;
    padding-bottom: 100px;
    padding-top: 15px;
}

.dispatch-info {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 200px;
}

.dispatch-h5 {
    color: #00DFFE;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-size: 14pt;
    letter-spacing: 2pt;
    text-transform: uppercase;
    padding: 20px;
}

.dispatch-h6 {
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16pt;
    text-transform: uppercase;
}

.dispatch-h3-trailer {
    width: 900px;
    margin: auto;
    color: #00DFFE;
    font-family: interstate, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt;
    text-align: left; 
    text-transform: uppercase;
    padding-bottom: 80px;
}
